# 0.파이썬 소개
--------------------------------------------
## 0.1 파이썬이란?
- 파이썬은 네덜란드의 수학/컴퓨터과학 국립연구소에서 90년대 초반 귀도 반 로섬에 의해 개발
- 플랫폼 독립적(어떤환경이든)이며, 인터프리터식(실행단계 컴파일인가, 미리 컴파일인가), 객체지향적, 동적 타이핑(변수 타입 지정 없음), 대화형 언어
- GPL 라이센스의 오픈소스(무료)
- 2.x 버전과 3.x 버전 2가지 버전이 현재 배포 중이나 2.X 버전은 업데이트 중지됨 (실습은 3.7 버전 사용)

## 0.2 파이썬의 장점
- 쉽다 ( easy-to-learn, easy-to-read, easy-to-maintain )
- 무료이지만 강력하다
- 개발 속도가 빠르다
- 사용자와 활용분야가 급증하고 있다
- https://madnight.github.io/githut/#/pull_requests/2019/2
- https://insights.stackoverflow.com/survey/2019#most-popular-technologies
- https://www.tiobe.com/tiobe-index/


## 0.3 파이썬 활용분야
- 데이터 분석
- 사물인터넷
- 웹 프로그램
- 시스템 유틸리티 개발
- GUI 프로그래밍

## 0.4 파이썬의 단점
- 속도(코어는 Java나 C로 짜고, Front 부분을 Python으로 가능)
- 모바일 지원
- 동적 타이핑

# 1. 기본구문
--------------------------------------------
## 1.1 Hello, World!

In [162]:
print("Hello, World!")

Hello, World!

In [163]:
print("HELLO")

HELLO

# 1.2 식별자
- 식별자는 변수, 함수, 클래스, 모듈 또는 다른 객체를 식별하는데 사용되는 이름
- 식별자는 A-Z로 시작하고 밑줄(_), 숫자를 사용할 수 있다
- 기호는 식별자로 사용할 수 없다 ( @, $, % 등..)
- 대소문자를 구별한다

In [10]:
_age = 40

In [11]:
print(_age)

40

# 1.3 예약어
- 예약어는 총 30개
- 예약서는 상수, 변수, 다른 식별자로 사용 불가
- 예약어는 모두 소문자

Keyword | Keyword | Keyword
:-------|:--------|:--------
and     |exec     |not
assert|finally|or
break|for|pass
class|from|print
continue|global|raise
def|if|return
del|import|try
elif|in|while
else|is|with
except|lambda|yield

# 1.4 줄 들여쓰기
- 파이썬 프로그램 시 첫번째 주의 사항.
- 클래스와 함수 정의시 코드 블럭을 표시하거나 흐름 제어 할 중괄호가 없다.
- 코드블럭은 줄 들여쓰기에 의해 엄격히 적용 된다.
- 들여쓰기는 공백(Space), 탭(Tab) 모두 가능.(공백 4개 추천)
- 단, 들여쓰기 공백 수는 블럭내에 동일 수로 해야 함.

In [12]:
if True:
    print("True")
else:
    print("False")

True

In [20]:
flag = True;
if flag:
    print("Answer")
    print("True")
else:
    print("Answer")
    print("False")

Answer
True

# 1.5 주석
- 기호 (#)를 사용해 주석을 시작한다.
- 기호 (#) 후 물리적 라인 끝까지 모든 문자를 주석으로 간주한다.
- 멀티라인 주석 처리는 ''' ''' , """ """ 형식을 사용한다.

In [50]:
# First comment
print("Hello, Python!")  # second comment
# last comment

Hello, Python!

In [21]:
'''
여러줄을 주석 처리하고 싶을 경우에 ''' ''' , """ """ 형식을 사용합니다.
C+,Java의 /* ... */ 형식과 동일합니다.
'''

'\n여러줄을 주석 처리하고 싶을 경우에  , """ """ 형식을 사용합니다.\nC+,Java의 /* ... */ 형식과 동일합니다.\n'

## 1.6. 변수 할당
- 파이썬 변수는 명시 적으로 메모리 공간을 예약 선언 할 필요가 없다.
- 변수에 값을 할당 할 때 선언은 자동으로 이루진다.
- 등호 (=)는 변수에 값을 할당하는 데 사용됩니다.

In [22]:
counter = 100          # 정수 할당 
miles   = 1000.0       # 부동 소수점 
name    = "홍길동"     # 문자열

print(counter)
print(miles)
print(name)

100
1000.0
홍길동

## 1.7 다중할당
- 파이썬은 동시에 여러 변수에 하나의 값을 할당 할 수 있다.

In [23]:
a = b = c = 1

In [24]:
a

1

In [25]:
b

1

### 1.8 변수 주소 확인

In [26]:
a = [1, 2, 3]

In [31]:
id(a)

140656356789640

### 1.9 변수 복사

In [32]:
a = [1,2,3]
b = a
print(b)

[1, 2, 3]

In [36]:
id(a)

140656356373128

In [37]:
id(b)

140656356392456

In [35]:
a = [2,3,4]
a

[2, 3, 4]

In [38]:
b

[1, 2, 3]

In [44]:
id(a)

140656467256320

# 2. 프로그래밍 기초, 자료형
--------------------------------------------
## 2.1 숫자형
|항목 | 사용 예|
:----:| :------|
|정수|123,-345,0|
|실수|123.45, -1234.5, 3.4e10|
|8진수|0o34,0o25|
|16진수|0x2A, 0xFF|

- 정수형:
정수형(Integer)이란 말 그대로 정수를 뜻하는 자료형을 말한다

In [40]:
a = 123

In [41]:
a = -178

In [42]:
a = 0

- 실수형 : 소수점이 포함된 숫자를 말한다.

In [43]:
b = 1.2

In [75]:
b = -3.45

In [76]:
a+b

-0.4500000000000002

### 숫자형의 연산

In [45]:
a = 3
b = 4
a + b

7

In [46]:
a*b

12

In [47]:
a/b

0.75

In [48]:
a**b # 3의 4승

81

In [49]:
a%b # 나눗셈 나머지

3

In [51]:
a//b # 나눗셈 몫

0

## 2.2 문자열
- 문자열 : 문자, 단어 등으로 구성된 문자들의 집합을 의미

In [81]:
"Life is too short, You need Python"

'Life is too short, You need Python'

In [82]:
"a"

'a'

In [83]:
"123"

'123'

### 문자열을 만드는 4가지 방법
1. 큰 따옴표로 두르기
2. 작은 따옴표로 두르기
3. 큰 따옴표 3개로 두르기
4. 작은 따옴표 3개로 두르기

In [100]:
a = "hello world"

In [101]:
print(a)

hello world

In [102]:
a = 'hello world'

In [103]:
print(a)

hello world

In [104]:
a = """hello world"""

In [105]:
print(a)

hello world

In [106]:
a = """hello world"""

In [107]:
print(a)

hello world

- 3,4번 방법이 필요한 이유는?

In [54]:
say = '"Python is very easy." he says.' # 문자열 내 따옴표가 필요한 경우

In [56]:
print(say)

"Python is very easy." he says.

In [57]:
multiline = '''Life is too short
You need python.
'''  # 여러줄인 문자열을 사용하고 싶을때..

In [60]:
multiline

'Life is too short\nYou need python.\n'

### 문자열을 연결하기

In [61]:
head = "Python"

In [62]:
tail = " is fun!"

In [63]:
head + tail

'Python is fun!'

### 문자열 곱하기

In [145]:
a = "python"

In [146]:
a * 2

'pythonpython'

In [147]:
print("=" * 50)
print("My Program")
print("=" * 50)

==================================================
My Program
==================================================

### 문자열 길이 / 인덱스

In [64]:
a = "Life is too short"

In [65]:
len(a)

17

In [66]:
a[0]

'L'

In [67]:
a[12]

's'

In [68]:
a[-1]

't'

### 문자열 슬라이스
- 문자열을 자르거나 단어를 추출해보자

In [69]:
a = "Life is too short, You need Python"

In [70]:
b = a[0] + a[1] + a[2] + a[3]

In [71]:
b

'Life'

In [73]:
a[0:5]

'Life '

In [74]:
a[5:7]

'is'

In [75]:
a[12:17]

'short'

In [76]:
a[19:-7]

'You need'

In [78]:
a = "20010331Rainy"

In [79]:
date = a[:8]
date

'20010331'

In [80]:
weather = a[8:]
weather

'Rainy'

### 문자열 포매팅
- 문자열에 변수 대입하기

In [81]:
print("I eat %d apples." % 3)

I eat 3 apples.

In [83]:
print("I eat %s apples." % "five")

I eat five apples.

In [87]:
number = 10
day = "three"
print("I ate %d apples. so I was sick for %s days." % (number, day))

I ate 10 apples. so I was sick for three days.

- 포맷코드
--------------------------
포맷코드 | 설명
:---|:---
%s|문자열(String)
%c|문자 1개(character)
%d|정수(Integer)
%f|부동소수(floating-point)
%o|8진수
%x|16진수
%%|Literal % (문자 % 자체)

In [88]:
print("I have %s apples" % "three")

I have three apples

In [89]:
print("I have %s apples" % 3)

I have 3 apples

In [91]:
"%0.4f" % 3.42134234

'3.4213'

In [92]:
"%10.4f" % 3.42134234

'    3.4213'

### format 함수를 이용한 포매팅
- 좀 더 발전된 스타일로 문자열 포맷을 지정 가능

In [93]:
"I eat {0} apples".format(3)

'I eat 3 apples'

In [94]:
"I eat {0} apples".format("five")

'I eat five apples'

In [95]:
number = 3
"I eat {0} apples".format(number)

'I eat 3 apples'

In [96]:
number = 10
day = "three"
"I ate {0} apples. so I was sick for {1} days.".format(number, day)

'I ate 10 apples. so I was sick for three days.'

In [98]:
"I ate {number} apples. so I was sick for {day} days.".format(number=10, day=3)

'I ate 10 apples. so I was sick for 3 days.'

### f 문자열 포매팅

In [100]:
name = '홍길동'
age = 30
f'나의 이름은 {name}입니다. 나이는 {age}입니다.'

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [101]:
d = {'name':'홍길동', 'age':30}
f'나의 이름은 {d["name"]}입니다. 나이는 {d["age"]}입니다.'

'나의 이름은 홍길동입니다. 나이는 30입니다.'

### 문자개수 세기(count)

In [104]:
a = "hobby"
a.count('o')

1

### 위치 알려주기1(find)

In [105]:
a = "Python is the best choice"
a.find('b')
#a.find('k')

14

### 위치 알려주기2(index)

In [111]:
a = "Life is too short"
a.index('o')

9

### 문자열 삽입(join)

In [210]:
",".join('abcd')

'a,b,c,d'

In [211]:
",".join(['a', 'b', 'c', 'd'])

'a,b,c,d'

### 소문자를 대문자로 바꾸기(upper), 대문자를 소문자로 바꾸기(lower)

In [296]:
a = "hi"
a.upper()

'HI'

In [297]:
a = "HI"
a.lower()

'hi'

### 공백 지우기(lstrip,rstrip,strip)

In [298]:
a = " hi "
a.lstrip()

'hi '

In [299]:
a.rstrip()

' hi'

In [300]:
a.strip()

'hi'

### 문자열 바꾸기(replace)

In [301]:
a = "Life is too short"
a.replace("Life", "Your leg")

'Your leg is too short'

### 문자열 나누기(split)

In [302]:
a = "Life is too short"
a.split()

['Life', 'is', 'too', 'short']

In [303]:
b = "a:b:c:d"
b.split(':')

['a', 'b', 'c', 'd']

## 2.3 리스트
- 리스트명 = [요소1, 요소2, 요소3, ...]

In [304]:
a = []
b = [1, 2, 3]
c = ['Life', 'is', 'too', 'short']
d = [1, 2, 'Life', 'is']
e = [1, 2, ['Life', 'is']]

In [305]:
a,b,c,d,e

([],
 [1, 2, 3],
 ['Life', 'is', 'too', 'short'],
 [1, 2, 'Life', 'is'],
 [1, 2, ['Life', 'is']])

### 리스트 인덱스, 슬라이스
: 문자열과 유사

In [112]:
a = [1, 2, 3]
a[0]

1

In [113]:
a[0] + a[2]

4

In [114]:
a[-1]

3

In [115]:
a = [1, 2, 3, ['a', 'b', 'c']]

In [116]:
a[0],a[-1]

(1, ['a', 'b', 'c'])

In [117]:
a[-1][0]

'a'

In [119]:
a = [1, 2, 3, 4, 5]
a[0:2]

[1, 2]

In [120]:
a = "12345"
a[0:2]

'12'

### 리스트의 연산
: 문자열과 역시 유사

In [237]:
a = [1, 2, 3]
b = [4, 5, 6]
a + b

[1, 2, 3, 4, 5, 6]

In [238]:
a = [1, 2, 3]
a * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [239]:
len(a)

3

In [240]:
a = [1, 2, 3]
a[2] = 4
a

[1, 2, 4]

In [241]:
a = [1, 2, 3]
del a[1]
a

[1, 3]

In [242]:
a = [1, 2, 3, 4, 5]
del a[2:]
a

[1, 2]

### 리스트에 추가(append)

In [121]:
a = [1, 2, 3]
a.append(4)
a

[1, 2, 3, 4]

In [126]:
a.append([5,6])
a

[1, 2, 3, 4, [5, 6], [5, 6], [5, 6], [5, 6]]

### 리스트 정렬(sort), 역정렬(reverse)

In [249]:
a = [1, 4, 3, 2]
a.sort()
a

[1, 2, 3, 4]

In [250]:
a = ['a', 'c', 'b']
a.sort()
a

['a', 'b', 'c']

In [127]:
a = ['a', 'c', 'b']
a.reverse()
a

['b', 'c', 'a']

### 리스트 위치반환( index), 끄집어내기(pop),개수 세기(count)

In [252]:
a = [1,2,3]
a.index(3)

2

In [259]:
a = [1,2,3]
a.pop()

3

In [258]:
a = [1,2,3]
a.pop(1)

2

In [253]:
a = [1,2,3,1]
a.count(1)

2

### 리스트 요소 삽입,제거(insert,remove)

In [254]:
a = [1, 2, 3]
a.insert(0, 4)
a

[4, 1, 2, 3]

In [255]:
a.insert(3, 5)
a

[4, 1, 2, 5, 3]

In [256]:
a = [1, 2, 3, 1, 2, 3]
a.remove(3)
a

[1, 2, 1, 2, 3]

In [257]:
a.remove(3)
a

[1, 2, 1, 2]

### 리스트 확장(extend)

In [261]:
a = [1,2,3]
a.extend([4,5])
a

[1, 2, 3, 4, 5]

In [262]:
b = [6, 7]
a.extend(b)
a

[1, 2, 3, 4, 5, 6, 7]

## 2.4 튜플
: 튜플은 리스트와 거의 유사함

: 튜플과 리스트 차이점
- 리스트는 [ ]으로 둘러싸지만 튜플은 ( )으로 둘러싼다.
- 리스트는 그 값의 생성, 삭제, 수정이 가능하지만 튜플은 그 값을 바꿀 수 없다.

In [131]:
t1 = ()
t2 = (1,)
t3 = (1, 2, 3)
t4 = 1, 2, 3
t5 = ('a', 'b', ('ab', 'cd'))

In [132]:
t1 = (1, 2, 'a', 'b')
del t1[0]

TypeError: 'tuple' object doesn't support item deletion

In [133]:
t1 = (1, 2, 'a', 'b')
t1[0] = 'c'

TypeError: 'tuple' object does not support item assignment

### 튜플 다루기

In [134]:
t1 = (1, 2, 'a', 'b')
t1[0]

1

In [135]:
t1[3]

'b'

In [137]:
t1 = (1, 2, 'a', 'b')
t1[1:]

(2, 'a', 'b')

In [138]:
t1 = (1, 2, 'a', 'b')
t2 = (3, 4)
t1 + t2

(1, 2, 'a', 'b', 3, 4)

In [139]:
t2 = (3, 4)
t2 * 3

(3, 4, 3, 4, 3, 4)

In [140]:
t1 = (1, 2, 'a', 'b')
len(t1)

4

### 2.5 딕셔너리
: 딕셔너리는 Key와 Value를 한 쌍으로 갖는 자료형, json 유사
- 형태 : {Key1:Value1, Key2:Value2, Key3:Value3, ...}

: 예제 : 딕셔너리 dic의 정보

key | value
:---|:---
name|pey
phone|01012345678
birth|0904

In [144]:
dic = {'name':'pey', 'phone':'01012345678', 'birth': '0904'}
dic

{'name': 'pey', 'phone': '01012345678', 'birth': '0904'}

In [142]:
a = {1: 'hi'}
a

{1: 'hi'}

In [143]:
a = { 'a': [1,2,3]}
a

{'a': [1, 2, 3]}

### 딕셔너리 추가, 삭제

In [278]:
a = {1: 'a'}
a[2] = 'b'
a

{1: 'a', 2: 'b'}

In [279]:
a['name'] = 'pey'
a

{1: 'a', 2: 'b', 'name': 'pey'}

In [280]:
a[3] = [1,2,3]
a

{1: 'a', 2: 'b', 'name': 'pey', 3: [1, 2, 3]}

In [281]:
del a[1]
a

{2: 'b', 'name': 'pey', 3: [1, 2, 3]}

### Key 사용해서 Value 얻기

In [282]:
grade = {'pey': 10, 'julliet': 99}
grade['pey']

10

In [283]:
a = {1:'a', 2:'b'}
a[1]

'a'

In [284]:
dic['name']

'pey'

In [285]:
dic['phone']

'01012345678'

In [286]:
dic['birth']

'0904'

In [288]:
a = {1:'a', 1:'b'} # Key 값 중복인 경우
a

{1: 'b'}

### 딕셔너리 관련 함수들

In [145]:
dic.keys()

dict_keys(['name', 'phone', 'birth'])

In [146]:
for k in dic.keys():
    print(k)

name
phone
birth

In [147]:
list(dic.keys())

['name', 'phone', 'birth']

In [148]:
dic.values()

dict_values(['pey', '01012345678', '0904'])

In [149]:
dic.items()

dict_items([('name', 'pey'), ('phone', '01012345678'), ('birth', '0904')])

In [318]:
dic.clear()
dic

{}

### Key로 Value얻기(get)

In [150]:
dic = {'name':'pey', 'phone':'01012345678', 'birth': '0904'}
print(dic['nokey'])

KeyError: 'nokey'

In [152]:
print(dic.get('nokey')) # 에러 방지

None

### 해당 Key가 딕셔너리 안에 있는지 조사하기(in)

In [324]:
print('name' in dic)

True

In [325]:
print('email' in dic)

False

## 2.6 집합(Set)
### 특징
- 중복을 허용하지 않는다.
- 순서가 없다(Unordered).

: 집합 자료형은 set 키워드를 사용해 만들 수 있다.

In [326]:
s1 = set([1,2,3])
s1

{1, 2, 3}

In [327]:
s2 = set("Hello")
s2

{'H', 'e', 'l', 'o'}

### 교집합

In [332]:
s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6, 7, 8, 9])

In [333]:
s1 & s2

{4, 5, 6}

In [334]:
s1.intersection(s2)

{4, 5, 6}

### 합집합

In [335]:
s1 | s2

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [336]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

### 차집합

In [337]:
s1 - s2

{1, 2, 3}

In [338]:
s2 - s1

{7, 8, 9}

In [339]:
s1.difference(s2)

{1, 2, 3}

In [340]:
s2.difference(s1)

{7, 8, 9}

### 집합관련 함수들

In [342]:
s1 = set([1, 2, 3])
s1.add(4)
s1

{1, 2, 3, 4}

In [343]:
s1 = set([1, 2, 3])
s1.update([4, 5, 6])
s1

{1, 2, 3, 4, 5, 6}

In [344]:
s1 = set([1, 2, 3])
s1.remove(2)
s1

{1, 3}

## 2.7 Bool 자료형
: 불(bool) 자료형이란 참(True)과 거짓(False)을 나타내는 자료형이다. 불 자료형은 다음 2가지 값만을 가질 수 있다.
- True - 참
- False - 거짓

※ True나 False는 파이썬의 예약어로 true, false와 같이 사용하지 말고 첫 문자를 항상 대문자로 사용해야 한다.

In [345]:
a = True
b = False

In [346]:
type(a)

bool

In [347]:
type(b)

bool

In [348]:
1 == 1

True

In [349]:
2 < 1

False

### 자료형의 참거짓 기준

값|참or거짓
:---|:---
"python"|참
""|거짓
[1, 2, 3]|참
[]|거짓
()|거짓
{}|거짓
1|참
0|거짓
None|거짓

In [350]:
a = [1, 2, 3, 4]
while a:
    print(a.pop())

4
3
2
1

In [351]:
bool('python')

True

In [352]:
bool('')

False

## 3. 제어문
-----------------------------
### 3.1 if 문
-----------------------------

In [368]:
if "조건문":
    "수행할 문장1"
    "수행할 문장2"
else:
    "수행할 문장A"
    "수행할 문장B"

### 비교연산자
| 비교연산자 | 설명                  |
|:------------|:-----------------------|
| x < y      | x가 y보다 작다        |
| x > y      | x가 y보다 크다        |
| x == y     | x와 y가 같다          |
| x != y     | x와 y가 같지 않다     |
| x >= y     | x가 y보다 크거나 같다 |
| x <= y     | x가 y보다 작거나 같다 |

In [153]:
money = 2000
if money >= 3000:
    print("택시를 타고 가라")
else:
    print("걸어가라")

걸어가라

### and, or, not
| 연산자  | 설명                              |
|:---------:|:-----------------------------------|
| x or y  | x와 y 둘중에 하나만 참이면 참이다 |
| x and y | x와 y 모두 참이어야 참이다        |
| not x   | x가 거짓이면 참이다               |

In [370]:
money = 2000
card = True
if money >= 3000 or card:
    print("택시를 타고 가라")
else:
    print("걸어가라")

택시를 타고 가라

### x in s, x not in s

In [371]:
1 in [1, 2, 3]

True

In [372]:
1 not in [1, 2, 3]

False

In [373]:
'a' in ('a', 'b', 'c')

True

In [374]:
'j' not in 'python'

True

### 다양한 조건을 판단하는 elif
:java의 else if 구문

In [164]:
pocket = ['paper', 'cellphone']
card = True
if 'money' in pocket:
    print("택시를 타고가라")
elif card: 
    print("택시를 타고가라")
else:
    print("걸어가라")

택시를 타고가라

### 조건부 표현식

In [165]:
score = 65
if score >= 60:
    message = "success"
else:
    message = "failure"
message

'success'

In [166]:
message = "success" if score >= 60 else "failure"
message

'success'

## 3.2 while문


while <조건문>:

    <수행할 문장1>        
    <수행할 문장2>        
    <수행할 문장3>

In [168]:
prompt = """
1. Add
2. Del
3. List
4. Quit

Enter number: """

number = 0
while number != 4:
    print(prompt)
    number = int(input())

1. Add
2. Del
3. List
4. Quit

Enter number:
4

In [391]:
coffee = 5
money = 300
while money:
    print("돈을 받았으니 커피를 줍니다.")
    coffee = coffee -1
    print("남은 커피의 양은 %d개입니다." % coffee)
    if coffee == 0:
        print("커피가 다 떨어졌습니다. 판매를 중지합니다.")
        break

돈을 받았으니 커피를 줍니다.
남은 커피의 양은 4개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 3개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 2개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 1개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 0개입니다.
커피가 다 떨어졌습니다. 판매를 중지합니다.

In [395]:
coffee = 3
while True:
    money = int(input("돈을 넣어 주세요: "))
    if money == 300:
        print("커피를 줍니다.")
        coffee = coffee -1
        print("남은 커피의 양은 %d개 입니다." % coffee)
    elif money > 300:
        print("거스름돈 %d를 주고 커피를 줍니다." % (money -300))
        coffee = coffee -1
        print("남은 커피의 양은 %d개 입니다." % coffee)
    else:
        print("돈을 다시 돌려주고 커피를 주지 않습니다.")
        print("남은 커피의 양은 %d개 입니다." % coffee)
    if coffee == 0:
        print("커피가 다 떨어졌습니다. 판매를 중지 합니다.")
        break

돈을 넣어 주세요: 555
거스름돈 255를 주고 커피를 줍니다.
남은 커피의 양은 2개 입니다.
돈을 넣어 주세요: 444
거스름돈 144를 주고 커피를 줍니다.
남은 커피의 양은 1개 입니다.
돈을 넣어 주세요: 333
거스름돈 33를 주고 커피를 줍니다.
남은 커피의 양은 0개 입니다.
커피가 다 떨어졌습니다. 판매를 중지 합니다.

### 3.3 for문
for 변수 in 리스트(또는 튜플, 문자열):

    수행할 문장1    
    수행할 문장2

In [396]:
test_list = ['one', 'two', 'three'] 
for i in test_list: 
    print(i)

one
two
three

In [397]:
marks = [90, 25, 67, 45, 80]

number = 0 
for mark in marks: 
    number = number +1 
    if mark >= 60: 
        print("%d번 학생은 합격입니다." % number)
    else: 
        print("%d번 학생은 불합격입니다." % number)

1번 학생은 합격입니다.
2번 학생은 불합격입니다.
3번 학생은 합격입니다.
4번 학생은 불합격입니다.
5번 학생은 합격입니다.

In [398]:
number = 0 
for mark in marks: 
    number = number +1 
    if mark < 60:
        continue 
    print("%d번 학생 축하합니다. 합격입니다. " % number)

1번 학생 축하합니다. 합격입니다.
3번 학생 축하합니다. 합격입니다.
5번 학생 축하합니다. 합격입니다.

### for문과 함께 자주 사용하는 range 함수

In [399]:
a = range(10)
a

range(0, 10)

In [400]:
add = 0 
for i in range(1, 11): 
    add = add + i 

print(add)

55

In [401]:
marks = [90, 25, 67, 45, 80]
for number in range(len(marks)):
    if marks[number] < 60: 
        continue
    print("%d번 학생 축하합니다. 합격입니다." % (number+1))

1번 학생 축하합니다. 합격입니다.
3번 학생 축하합니다. 합격입니다.
5번 학생 축하합니다. 합격입니다.

### 리스트 내포 사용하기
: 리스트 안에 for문을 포함하는 리스트 내포(List comprehension)를 사용하면 좀 더 편리하고 직관적임

[표현식 for 항목 in 반복가능객체]

[표현식 for 항목 in 반복가능객체 if 조건문]

In [403]:
a = [1,2,3,4]
result = []
for num in a:
    result.append(num*3)

print(result)

[3, 6, 9, 12]

In [404]:
a = [1,2,3,4]
result = [num * 3 for num in a]
print(result)

[3, 6, 9, 12]

In [169]:
a = [1,2,3,4]
result = [num * 3 for num in a if num % 2 == 0]
print(result)

[6, 12]

## 4. 입출력
### 4.1 함수

### 파이썬 함수의 구조

def 함수명(매개변수):

    <수행할 문장1>
    <수행할 문장2>
    ...

In [172]:
def add(a, b): 
    return a + b

add(3,5)

8

In [173]:
a = 3
b = 4
c = add(a, b)
print(c)

7

### 매개변수가 없는 함수

In [174]:
def say(): 
    return 'Hi' 

a = say()
print(a)

Hi

### 결괏값이 없는 함수

In [175]:
def add(a, b): 
    print("%d, %d의 합은 %d입니다." % (a, b, a+b))

add(3, 4)

3, 4의 합은 7입니다.

In [176]:
a = add(3, 4)
print(a)

3, 4의 합은 7입니다.
None

### 입력값도 결괏값도 없는 함수

In [414]:
def say(): 
    print('Hi')

say()

Hi

In [177]:
def add(a, b):
    return a+b

result = add(a=3, b=7)  # a에 3, b에 7을 전달
print(result)

result = add(b=5, a=3)  # b에 5, a에 3을 전달
print(result)

10
8

### 입력값이 몇 개가 될지 모를 때

def 함수이름(*매개변수):

    <수행할 문장1>
    <수행할 문장2>
    ...

In [179]:
def add_many(*args): 
   result = 0 
   for i in args: 
        result = result + i 
   return result 

result = add_many(1,2,3)
print(result)

result = add_many(1,2,3,4,5,6,7,8,9,10)
print(result)

6
55

## Q1 :
주민번호를 입력받아(123456-1234567 형식) 생년월일과 성별을 출력하시오.

In [199]:
number = input()
if int(number[7])%2 == 0:
    sex = "여성"
else :
    sex = "남성"

print("생년월일 : {0}년 {1}월 {2}일".format(number[0:2],number[2:4],number[4:6]))
print("성별 : {0}".format(sex))

931103-1
생년월일 : 93년 11월 03일
성별 : 남성

## Q2 : 
a 리스트에서 중복 숫자를 제거하시오

In [218]:
a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]

In [219]:
print(set(a))

{1, 2, 3, 4, 5}

## Q3 : 
1부터 1000까지의 자연수 중 3의 배수의 합을 구하시오.

In [215]:
result = 0
result = [result + i for i in range(1,1000) if i%3==0]

sum = 0
for i in result:
    sum += i

print(sum)

166833

## Q4 :
A 학급의 중간고사 점수는 아래와 같다. 학급평균을 구하시오

[70, 60, 55, 75, 95, 90, 80, 80, 85, 100]

In [225]:
a = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
sum = 0
for i in range(1,len(a)) :
    sum += i
print(sum/len(a))

4.5

## Q5 : 
입력값이 홀수인지 짝수인지 판별해 주는 함수(is_odd)를 작성하시오