# 4주차_선형회귀분석_정답

## 모듈 불러오기

In [0]:
from IPython.display import display, HTML

# 데이터 전처리 패키지
import numpy as np
import pandas as pd

# 기계학습 모델 구축 및 성능 평가 패키지
import statsmodels.api as sm
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error

# 데이터 시각화 패키지
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.font_manager as fm

# 한글 폰트 설정
plt.rc('font', family='Malgun Gothic')

## 데이터 불러오기

### Toyota Corolla Data
### 중고차 가격(Price)를 예측하기 위한 예측모델 학습

In [0]:
import io
import requests

In [0]:
url = "https://raw.githubusercontent.com/Mosses1103/PythonStudy/master/WEEK_4_Data/ToyotaCorolla.csv"
#url = 'https://raw.githubusercontent.com/Mosses1103/PythonStudy/master/WEEK_4_Data/Parkinson.csv'

In [0]:
data = pd.read_csv(url)

In [33]:
display(data.head())

   Id                                           Model  ...  Radio_cassette  Tow_Bar
0   1   TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors  ...               0        0
1   2   TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors  ...               0        0
2   3  ?TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors  ...               0        0
3   4   TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors  ...               0        0
4   5     TOYOTA Corolla 2.0 D4D HATCHB SOL 2/3-Doors  ...               0        0

[5 rows x 37 columns]

In [0]:
display(data['Price'].head())

In [0]:
data.drop('Price',axis=1).head()

## 데이터 전처리하기
### 1. 예측에 필요하지 않은 변수 제거
- 'id', 'Model', 'Fuel_Type'

In [0]:
data = data.drop([_________________], axis=1) # 써주세요!

In [0]:
data.head()

### 2. 학습 데이터와 테스트 데이터로 분리
- test_size = 0.2
- random_state = 오늘날짜

In [0]:
train_data, test_data = train_test_split(____, test_size=___, random_state=________) # 세 곳 써주세요!

## 모델링

### 학습 데이터를 이용하여 선형회귀모델 학습

In [0]:
lm = sm.___(train_data['Price'], __________________________________) # 두 곳 써주세요!
lm_trained = lm.fit()

### 모델 학습 결과 (Summary) 확인

In [0]:
lm_trained.summary()

## 예측성능 평가

### 1. 학습 데이터셋에 대한 예측성능 평가
MSE, RMSE 계산하여 성능 확인

In [0]:
train_data.head()

In [0]:
train_pred = lm_trained.predict(________________________________) # 써주세요!

print('Training MSE: {:.3f}'.format(mean_squared_error(train_data['Price'], train_pred)))
print('Training RMSE: {:.3f}'.format(np.sqrt(mean_squared_error(train_data['Price'], train_pred))))

### 2. 테스트 데이터셋에 대한 예측성능 평가
MSE, RMSE 계산하여 성능 확인

In [0]:
test_data.head()

In [0]:
test_pred = lm_trained.predict(________________________________) # 써주세요!

print('Testing MSE: {:.3f}'.format(mean_squared_error(test_data['Price'], test_pred)))
print('Training RMSE: {:.3f}'.format(np.sqrt(mean_squared_error(test_data['Price'], test_pred))))

## 결과 출력

In [0]:
plt.scatter(train_data['Price'], ____________) # 써주세요!
plt.xlabel("실제 중고차 값")
plt.ylabel("예측 중고차 값")
plt.title("실제 중고차 값과 예측 중고차 값의 관계")
plt.show()

In [0]:
plt.scatter(test_data['Price'], _____________) # 써주세요!
plt.xlabel("실제 중고차 값")
plt.ylabel("예측 중고차 값")
plt.title("실제 중고차 값과 예측 중고차 값의 관계")
plt.show()